.system {
	padding: 120px 0 120px;
	place-items: center;
}

.auth__card {
	background: #fff;
	box-shadow: 0 14px 40px rgba(0, 0, 0, 0.06);
	border-radius: 42px;

	width: 680px;
	height: 656px;
	padding: 102px 148px;

	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.auth__title {
	margin: 0;
	font-size: 24px;
	line-height: 1.1;
	font-weight: 700;
	color: #111;
}

.auth__subtitle {
	margin: 10px 0 28px;
	font-size: 14px;
	color: #9aa0a6;
}

.auth__social {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 16px;
	width: min(620px, 100%);
	margin-bottom: 28px;
}

.auth__socialBtn {
	height: 40px;
	border-radius: 999px;
	border: 1px solid rgba(0, 0, 0, 0.12);
	background: #fff;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	font-size: 14px;
	color: #222;
	transition: box-shadow 0.15s ease, transform 0.05s ease;
}

.auth__socialBtn:hover {
	box-shadow: 0 10px 22px rgba(0, 0, 0, 0.06);
}

.auth__socialBtn:active {
	transform: translateY(1px);
}

.auth__divider {
	width: min(620px, 100%);
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
	gap: 18px;
	margin: 0 0 28px;
}

.auth__dividerLine {
	height: 1px;
	background: rgba(0, 0, 0, 0.1);
}

.skeleton-row {
	display: flex;
	gap: 8px;
	align-items: center;
}

.skeleton-pill {
	height: 4px;
	width: 90px;
	border-radius: 999px;
	background: #cbcbcb;
}

.auth__dividerText {
	color: #9aa0a6;
	font-size: 14px;
}

.auth__form {
	width: min(620px, 100%);
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: stretch;
}

.auth__input {
	height: 40px;
	padding: 0 22px;
	border-radius: 999px;
	border: 1px solid rgba(0, 0, 0, 0.14);
	outline: none;
	font-size: 16px;
	color: #111;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.auth__input::placeholder {
	color: rgba(0, 0, 0, 0.28);
}

.auth__input:focus {
	border-color: rgba(183, 185, 255, 0.9);
	box-shadow: 0 0 0 2px rgba(183, 185, 255, 0.25);
}

.checkbox {
	width: 18px;
	height: 18px;
	transform: translateY(3px);
}

.auth__link {
	align-self: flex-end;
	color: #b7b9ff;
	text-decoration: none;
	font-size: 16px;
}

.auth__link:hover,
.auth__link:focus-visible {
	text-decoration: underline;
}

.auth__submit {
	margin-top: 10px;
	height: 40px;
	border: 0;
	border-radius: 999px;
	background: #000;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
	box-shadow: 0 12px 28px rgba(0, 0, 0, 0.18);
	transition: transform 0.05s ease, box-shadow 0.15s ease;
}

.auth__submit:hover {
	box-shadow: 0 14px 34px rgba(0, 0, 0, 0.22);
}

.auth__submit:active {
	transform: translateY(1px);
}

.auth__p {
	font-size: 12px;
	color: #9aa0a6;
	margin: 0;
}

.auth__foot {
	margin: 26px 0 0;
	font-size: 16px;
	color: #9aa0a6;
}
.auth__check {
	color: #9aa0a6;
	margin: 0;
}
