/* =========================
   Fonts
========================= */

@font-face {
	font-family: "Robot";
	src: url("../fonts/roboto-latin-400-normal.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Robot";
	src: url("../fonts/roboto-latin-400-normal.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* =========================
   Base
========================= */
*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	height: 100%;
}

body {
	margin: 0;
	font-family: "Robot", system-ui, -apple-system, "Segoe UI", Arial, sans-serif;
	font-weight: 400;
	color: #111;
	background: #fff;
}

main {
	flex: 1;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

a {
	color: inherit;
}
